<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gp.common.mybatisplus.mapper.ActivityAwardMapper">

    <resultMap type="com.gp.common.mybatisplus.entity.ActivityAward" id="ActivityAwardResult">
        <result property="id"    column="id"    />
        <result property="activityTaskId"    column="activity_task_id"    />
        <result property="type"    column="type"    />
        <result property="isFixed"    column="is_fixed"    />
        <result property="withdrawBonusRatio"    column="withdraw_bonus_ratio"    />
        <result property="ratio"    column="ratio"    />
        <result property="award"    column="award"    />
        <result property="amountCap"    column="amount_cap"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <resultMap type="com.gp.common.mybatisplus.entity.ActivityAward" id="ActivityAwardResults">
        <result property="id"    column="id"    />
        <result property="activityTaskId"    column="activity_task_id"    />
        <result property="type"    column="type"    />
        <result property="isFixed"    column="is_fixed"    />
        <result property="withdrawBonusRatio"    column="withdraw_bonus_ratio"    />
        <result property="ratio"    column="ratio"    />
        <result property="award"    column="award"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="taskAmount"    column="task_amount"    />
        <result property="taskName"    column="task_name"    />
        <result property="activityNameZh"    column="activity_name_zh"    />
    </resultMap>

    <sql id="selectActivityAwardVo">
        select id, activity_task_id, type, is_fixed, withdraw_bonus_ratio, ratio, award,amount_cap, create_time, create_by from t_activity_award
    </sql>

    <select id="selectActivityAwardList" parameterType="com.gp.common.mybatisplus.entity.ActivityAward" resultMap="ActivityAwardResults">
        select a.id, a.activity_task_id, a.type, a.is_fixed, a.withdraw_bonus_ratio,a.ratio, a.award,a.amount_cap, a.create_time, a.create_by,t.task_name,t.task_amount,v.activity_name_zh
        from t_activity_award a
        left join  t_activity_task t
        on a.activity_task_id = t.id
        left join  t_activity v on t.activity_id = v.id
        <where>
    <if test="activityTaskId != null "> and a.activity_task_id = #{activityTaskId}</if>
    <if test="type != null "> and a.type = #{type}</if>
    <if test="isFixed != null "> and a.is_fixed = #{isFixed}</if>
    <if test="withdrawBonusRatio != null "> and a.withdraw_bonus_ratio = #{withdrawBonusRatio}</if>
    <if test="ratio != null "> and a.ratio = #{ratio}</if>
    <if test="award != null "> and a.award = #{award}</if>
    <if test="amountCap != null "> and a.amount_cap = #{amountCap}</if>
    <if test="createTimes != null and createTimes.length > 0">
        and (
        <foreach collection="createTimes" item="item" index="index">
            <if test="index == 0">
                a.create_time between #{item,jdbcType=VARCHAR}
            </if>
            <if test="index == 1">
                and #{item,jdbcType=VARCHAR}
            </if>
        </foreach>
        )
    </if>
    <if test="createBy != null  and createBy != ''"> and a.create_by = #{createBy}</if>
        </where>
    </select>

    <select id="selectActivityAwardListCount" parameterType="com.gp.common.mybatisplus.entity.ActivityAward" resultType="java.lang.Integer">
        select count(*) from (
            select a.id, a.activity_task_id, a.type, a.is_fixed, a.withdraw_bonus_ratio,a.ratio, a.award,a.amount_cap, a.create_time, a.create_by,t.task_name,t.task_amount,v.activity_name_zh
            from t_activity_award a
            left join  t_activity_task t
            on a.activity_task_id = t.id
            left join  t_activity v on t.activity_id = v.id
            <where>
        <if test="activityTaskId != null "> and a.activity_task_id = #{activityTaskId}</if>
        <if test="type != null "> and a.type = #{type}</if>
        <if test="isFixed != null "> and a.is_fixed = #{isFixed}</if>
        <if test="withdrawBonusRatio != null "> and a.withdraw_bonus_ratio = #{withdrawBonusRatio}</if>
        <if test="ratio != null "> and a.ratio = #{ratio}</if>
        <if test="award != null "> and a.award = #{award}</if>
        <if test="amountCap != null "> and a.amount_cap = #{amountCap}</if>
        <if test="createTimes != null and createTimes.length > 0">
            and (
            <foreach collection="createTimes" item="item" index="index">
                <if test="index == 0">
                    a.create_time between #{item,jdbcType=VARCHAR}
                </if>
                <if test="index == 1">
                    and #{item,jdbcType=VARCHAR}
                </if>
            </foreach>
            )
        </if>
        <if test="createBy != null  and createBy != ''"> and a.create_by = #{createBy}</if>
            </where>
        ) as tmp
    </select>

    <select id="selectActivityAwardById" parameterType="Long" resultMap="ActivityAwardResult">
        <include refid="selectActivityAwardVo"/>
        where id = #{id}
    </select>

    <insert id="insertActivityAward" parameterType="com.gp.common.mybatisplus.entity.ActivityAward" useGeneratedKeys="true" keyProperty="id">
        insert into t_activity_award
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityTaskId != null ">activity_task_id,</if>
            <if test="type != null ">type,</if>
            <if test="isFixed != null ">is_fixed,</if>
            <if test="withdrawBonusRatio != null ">withdraw_bonus_ratio,</if>
            <if test="ratio != null ">ratio,</if>
            <if test="award != null ">award,</if>
            <if test="amountCap != null ">amount_cap,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityTaskId != null ">#{activityTaskId},</if>
            <if test="type != null ">#{type},</if>
            <if test="isFixed != null ">#{isFixed},</if>
            <if test="withdrawBonusRatio != null ">#{withdrawBonusRatio},</if>
            <if test="ratio != null ">#{ratio},</if>
            <if test="award != null ">#{award},</if>
            <if test="amountCap != null ">#{amountCap},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
         </trim>
    </insert>

    <update id="updateActivityAward" parameterType="com.gp.common.mybatisplus.entity.ActivityAward">
        update t_activity_award
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityTaskId != null ">activity_task_id = #{activityTaskId},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="isFixed != null ">is_fixed = #{isFixed},</if>
            <if test="withdrawBonusRatio != null ">withdraw_bonus_ratio = #{withdrawBonusRatio},</if>
            <if test="ratio != null ">ratio = #{ratio},</if>
            <if test="award != null ">award = #{award},</if>
            <if test="amountCap != null ">amountCap = #{amount_cap},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteActivityAwardById" parameterType="Long">
        delete from t_activity_award where id = #{id}
    </delete>

    <delete id="deleteActivityAwardByIds" parameterType="String">
        delete from t_activity_award where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="truncate">
        truncate table t_activity_award
    </update>
</mapper>
