<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gp.common.mybatisplus.mapper.PayChannelMapper">

    <resultMap type="com.gp.common.mybatisplus.entity.PayChannel" id="PayChannelResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="payMethod"    column="pay_method"    />
        <result property="payAttr"    column="pay_attr"    />
        <result property="rate"    column="rate"    />
        <result property="failNum"    column="fail_num"    />
        <result property="successNum"    column="success_num"    />
        <result property="totalSuccessMoney"    column="total_success_money"    />
        <result property="rechargeMin"    column="recharge_min"    />
        <result property="rechargeMax"    column="recharge_max"    />
        <result property="status"    column="status"    />
        <result property="isCanCallback"    column="is_can_callback"    />
        <result property="indexes"    column="indexes"    />
        <result property="openLevel"    column="open_level"    />
        <result property="openLevelMax"    column="open_level_max"    />
        <result property="payPlatformId"    column="pay_platform_id"    />
        <result property="payTypeId"    column="pay_type_id"    />
        <result property="discountBill"    column="discount_bill"    />
        <result property="quickAmount"    column="quick_amount"    />
        <result property="inputType"    column="input_type"    />
        <result property="remark"    column="remark"    />
        <result property="creator"    column="creator"    />
        <result property="createTime"    column="create_time"    />
        <result property="updator"    column="updator"    />
        <result property="updateTime"    column="update_time"    />
        <result property="payRate"    column="pay_rate"    />
    </resultMap>

    <sql id="selectPayChannelVo">
        select id, name, type, pay_method, pay_attr, rate, fail_num, success_num, total_success_money, recharge_min, recharge_max, status, is_can_callback, indexes, open_level, open_level_max, pay_platform_id, pay_type_id, discount_bill, quick_amount, input_type, remark, creator, create_time, updator, update_time, pay_rate from t_pay_channel
    </sql>

    <select id="selectPayChannelList" parameterType="com.gp.common.mybatisplus.entity.PayChannel" resultMap="PayChannelResult">
        <include refid="selectPayChannelVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
    <if test="type != null "> and type = #{type}</if>
    <if test="payMethod != null  and payMethod != ''"> and pay_method = #{payMethod}</if>
    <if test="payAttr != null "> and pay_attr = #{payAttr}</if>
    <if test="rate != null "> and rate = #{rate}</if>
    <if test="failNum != null "> and fail_num = #{failNum}</if>
    <if test="successNum != null "> and success_num = #{successNum}</if>
    <if test="totalSuccessMoney != null "> and total_success_money = #{totalSuccessMoney}</if>
    <if test="rechargeMin != null "> and recharge_min = #{rechargeMin}</if>
    <if test="rechargeMax != null "> and recharge_max = #{rechargeMax}</if>
    <if test="status != null "> and status = #{status}</if>
    <if test="isCanCallback != null "> and is_can_callback = #{isCanCallback}</if>
    <if test="indexes != null "> and indexes = #{indexes}</if>
    <if test="openLevel != null "> and open_level = #{openLevel}</if>
    <if test="openLevelMax != null "> and open_level_max = #{openLevelMax}</if>
    <if test="payPlatformId != null  and payPlatformId != ''"> and pay_platform_id = #{payPlatformId}</if>
    <if test="payTypeId != null  and payTypeId != ''"> and pay_type_id = #{payTypeId}</if>
    <if test="discountBill != null "> and discount_bill = #{discountBill}</if>
    <if test="quickAmount != null  and quickAmount != ''"> and quick_amount = #{quickAmount}</if>
    <if test="inputType != null "> and input_type = #{inputType}</if>
    <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
    <if test="createTimes != null and createTimes.length > 0">
        and (
        <foreach collection="createTimes" item="item" index="index">
            <if test="index == 0">
                create_time between #{item,jdbcType=VARCHAR}
            </if>
            <if test="index == 1">
                and #{item,jdbcType=VARCHAR}
            </if>
        </foreach>
        )
    </if>
    <if test="updator != null  and updator != ''"> and updator = #{updator}</if>
    <if test="updateTimes != null and updateTimes.length > 0">
        and (
        <foreach collection="updateTimes" item="item" index="index">
            <if test="index == 0">
                update_time between #{item,jdbcType=VARCHAR}
            </if>
            <if test="index == 1">
                and #{item,jdbcType=VARCHAR}
            </if>
        </foreach>
        )
    </if>
    <if test="payRate != null "> and pay_rate = #{payRate}</if>
        </where>
    </select>

    <select id="selectPayChannelById" parameterType="Integer" resultMap="PayChannelResult">
        <include refid="selectPayChannelVo"/>
        where id = #{id}
    </select>
    <select id="listWithMerchant" resultType="com.gp.common.mybatisplus.entity.PayChannel">
        select a.id, a.name, a.type, a.pay_method, a.pay_attr, a.rate, a.fail_num, a.success_num, a.total_success_money,
               a.recharge_min, a.recharge_max, a.status, a.is_can_callback, a.indexes, a.open_level, a.open_level_max,
               a.pay_platform_id, a.pay_type_id, a.discount_bill, a.quick_amount, a.input_type, a.remark, a.creator,
               a.create_time, a.updator, a.update_time, a.pay_rate
        from t_pay_channel a  join t_merchant_pay b on a.pay_platform_id = b.id
        where a.status = 1 and a.type = 2 and b.status = 1 and b.is_withdraw = 1 and a.pay_type_id = #{payTypeId}

    </select>

    <insert id="insertPayChannel" parameterType="com.gp.common.mybatisplus.entity.PayChannel" useGeneratedKeys="true" keyProperty="id">
        insert into t_pay_channel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="type != null ">type,</if>
            <if test="payMethod != null  and payMethod != ''">pay_method,</if>
            <if test="payAttr != null ">pay_attr,</if>
            <if test="rate != null ">rate,</if>
            <if test="failNum != null ">fail_num,</if>
            <if test="successNum != null ">success_num,</if>
            <if test="totalSuccessMoney != null ">total_success_money,</if>
            <if test="rechargeMin != null ">recharge_min,</if>
            <if test="rechargeMax != null ">recharge_max,</if>
            <if test="status != null ">status,</if>
            <if test="isCanCallback != null ">is_can_callback,</if>
            <if test="indexes != null ">indexes,</if>
            <if test="openLevel != null ">open_level,</if>
            <if test="openLevelMax != null ">open_level_max,</if>
            <if test="payPlatformId != null  and payPlatformId != ''">pay_platform_id,</if>
            <if test="payTypeId != null  and payTypeId != ''">pay_type_id,</if>
            <if test="discountBill != null ">discount_bill,</if>
            <if test="quickAmount != null  and quickAmount != ''">quick_amount,</if>
            <if test="inputType != null ">input_type,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="creator != null  and creator != ''">creator,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updator != null  and updator != ''">updator,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="payRate != null ">pay_rate,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="type != null ">#{type},</if>
            <if test="payMethod != null  and payMethod != ''">#{payMethod},</if>
            <if test="payAttr != null ">#{payAttr},</if>
            <if test="rate != null ">#{rate},</if>
            <if test="failNum != null ">#{failNum},</if>
            <if test="successNum != null ">#{successNum},</if>
            <if test="totalSuccessMoney != null ">#{totalSuccessMoney},</if>
            <if test="rechargeMin != null ">#{rechargeMin},</if>
            <if test="rechargeMax != null ">#{rechargeMax},</if>
            <if test="status != null ">#{status},</if>
            <if test="isCanCallback != null ">#{isCanCallback},</if>
            <if test="indexes != null ">#{indexes},</if>
            <if test="openLevel != null ">#{openLevel},</if>
            <if test="openLevelMax != null ">#{openLevelMax},</if>
            <if test="payPlatformId != null  and payPlatformId != ''">#{payPlatformId},</if>
            <if test="payTypeId != null  and payTypeId != ''">#{payTypeId},</if>
            <if test="discountBill != null ">#{discountBill},</if>
            <if test="quickAmount != null  and quickAmount != ''">#{quickAmount},</if>
            <if test="inputType != null ">#{inputType},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="creator != null  and creator != ''">#{creator},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updator != null  and updator != ''">#{updator},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="payRate != null ">#{payRate},</if>
        </trim>
    </insert>

    <update id="updatePayChannel" parameterType="com.gp.common.mybatisplus.entity.PayChannel">
        update t_pay_channel
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="payMethod != null  and payMethod != ''">pay_method = #{payMethod},</if>
            <if test="payAttr != null ">pay_attr = #{payAttr},</if>
            <if test="rate != null ">rate = #{rate},</if>
            <if test="failNum != null ">fail_num = #{failNum},</if>
            <if test="successNum != null ">success_num = #{successNum},</if>
            <if test="totalSuccessMoney != null ">total_success_money = #{totalSuccessMoney},</if>
            <if test="rechargeMin != null ">recharge_min = #{rechargeMin},</if>
            <if test="rechargeMax != null ">recharge_max = #{rechargeMax},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="isCanCallback != null ">is_can_callback = #{isCanCallback},</if>
            <if test="indexes != null ">indexes = #{indexes},</if>
            <if test="openLevel != null ">open_level = #{openLevel},</if>
            <if test="openLevelMax != null ">open_level_max = #{openLevelMax},</if>
            <if test="payPlatformId != null  and payPlatformId != ''">pay_platform_id = #{payPlatformId},</if>
            <if test="payTypeId != null  and payTypeId != ''">pay_type_id = #{payTypeId},</if>
            <if test="discountBill != null ">discount_bill = #{discountBill},</if>
            <if test="quickAmount != null  and quickAmount != ''">quick_amount = #{quickAmount},</if>
            <if test="inputType != null ">input_type = #{inputType},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="creator != null  and creator != ''">creator = #{creator},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updator != null  and updator != ''">updator = #{updator},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="payRate != null ">pay_rate = #{payRate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePayChannelById" parameterType="Integer">
        delete from t_pay_channel where id = #{id}
    </delete>

    <delete id="deletePayChannelByIds" parameterType="String">
        delete from t_pay_channel where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="truncate">
        truncate table t_pay_channel
    </update>
</mapper>
