@use './vars.scss' as *;
@use './mixin.scss' as *;

.m-popup {
  width: 630rpx;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 8rpx;
  .u-content {
    font-size: 32rpx;
    line-height: 42rpx;
    padding: 48rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    white-space: pre-line;
    word-break: break-all;
    .u-tips {
      font-size: 24rpx;
      line-height: 34rpx;
      color: var(--text-weak-color);
      margin-top: 10rpx;
      font-weight: normal;
    }
  }
  .u-btn-area {
    border-top: 0.5px solid var(--border-color);
    display: flex;
    column-gap: 18rpx;
    &.s-double {
      padding-bottom: 48rpx;
      border-top: none;
    }
  }
}

// 整体弹层毛玻璃效果
.u-popup {
  > .u-transition:nth-child(2) {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20rpx);
  }
}

// 从底部弹出的弹窗
.m-popup-bottom-wrap {
  // 满屏
  &.s-height-full {
    :deep(.u-transition:nth-child(3)) {
      height: 100%;
      .u-popup__content {
        height: 100%;
      }
    }
  }
  &.s-height-auto {
    :deep(.u-transition:nth-child(3)) {
      height: auto;
    }
  }
  :deep(.u-transition:nth-child(3)) {
    height: 60%;
    max-width: var(--page-max-width, #{$max-width});
    margin: 0 auto;

    // 基本样式
    .u-popup__content {
      border-radius: 20rpx 20rpx 0 0 !important;
      background: #fff;
      position: relative;
      z-index: 2;
      height: 100%;
      box-sizing: border-box;
      .m-popup {
        width: 100%;
        box-sizing: border-box;
        padding: 44rpx 24rpx 56rpx;
        .u-title {
          text-align: center;
          line-height: 38rpx;
        }
        .search-container {
          margin-top: 26rpx;
        }
      }
      // 底部取消按钮
      .u-bottom-plain-btn {
        border-top: 16rpx solid var(--border-color-weak);
        margin-top: 40rpx;
        margin-left: -24rpx;
        margin-right: -24rpx;
        height: 100rpx;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  // 可关闭的时候，要预留一部分顶部距离给关闭按钮
  &.s-closeable .u-popup-content {
    padding-top: 85rpx;
  }
  :deep(.u-popup-content) {
    position: relative;
    height: 100%;
    box-sizing: border-box;
  }
}
